/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*css reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*css reset*/
.wrapper {
  min-width: 750px;
  background-color: gray;
}

.menu {
  display: inline-block;
}
.menu-wrapper {
  width: 650px;
  margin: auto;
}
.menu-item {
  position: relative;
  width: 100px;
  height: 26px;
  line-height: 26px;
  padding: 6px 0 6px 0;
  background-color: gray;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  color: black;
  transition: all .3s ease-out;
}
.menu-item-bl {
  position: absolute;
  top: 38px;
  display: none;
}
.menu-item-bl-two {
  position: absolute;
  top: 0px;
  left: 100px;
  display: none;
}
.menu-item-bl-three {
  position: absolute;
  top: 0px;
  left: 100px;
  display: none;
}
.menu-item-two {
  position: relative;
  width: 100px;
  height: 26px;
  line-height: 26px;
  padding: 6px 0 6px 0;
  background-color: gray;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  color: black;
  transition: all .3s ease-out;
}
.menu-item a {
  text-decoration: none;
}
.menu-item:hover {
  background-color: red;
}
.menu-item-one:hover .menu-item-bl {
  display: block;
}
.menu-item-two:hover {
  background-color: red;
}

.item-one-list-one:hover .menu-item-bl-two {
  display: block;
}

.item-one-list-two:hover .menu-item-bl-three {
  display: block;
}
